parameters:
    treatPhpDocTypesAsCertain: false
    level: 9
    paths:
        - ../../config
        - ../../src
        - ../../tests
    excludePaths:
        analyseAndScan:
            - ../../src/BlackJack
            - ../../src/Controller
            - ../../src/Card
            - ../../src/Dice
            - ../../src/Entity
            - ../../src/Repository
            - ../../tests/**
    bootstrapFiles:
        #- .phpstan.constants.php