body {
    margin: 0 auto;
    max-width: 800px;
}

.content {
    background-color: #eee;
}

.profile-container {
    display: flex;
    padding-left: 10px;
    align-items: flex-start;
    gap: 1.5rem;
    margin-top: 2rem;
}
  
.profile-img {
    width: 200px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}
  

footer {
    background: linear-gradient(to right, #1a2a45, #3974e2);
    padding: 1rem 2rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

header {
    height: 150px;
}

body {
    background: url('../images/background.jpg');
    background-size: cover;
}

nav {
    background: linear-gradient(to right, #3974e2, #1a2a45);
    padding: 1rem 2rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
  
ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 2rem;
}
  
ul a {
    text-decoration: none;
    color: white;
    font-weight: 500;
    transition: color 0.3s ease;
}
  
ul a:hover {
    color: #ffd700;
}

h1 {
    border-bottom: 4px double #0022ff;
}


h2 {
    border-bottom: 4px double #0022ff;
}