{% extends "base.html.twig" %}

{% block title %}Documentation{% endblock %}

{% block body %}
<h1>Documentation</h1>

<p>
    Flödes schema + lite hur jag tänk om varje steg + vilken klass jag tror jag kommer behöva lägga till och vad den ska göra.
</p>
<p>
    Jag har lagt till stöd nu efter om att splitta kort om de är lika värde.
</p>
<img src="{{ asset('img/doc.png') }}" alt="Doc bild">

{% endblock %}