{% extends "base.html.twig" %}

{% block title %}Regler{% endblock %}

{% block body %}
<h1>Regler</h1>

<p>
    Jag har skapat ett blackjackspel med väldigt simpla regler, det mesta är standrd regler, men tex delaer tar alltid kort till 16. 
    Jag har dock implementerat både split fuktion och att man alltid satsar 10 coins. Det som bör läggas till är om man kan satsa olika mycket, 
    eller spela flera spelare.
</p>

{% endblock %}