{% extends "base.html.twig" %}

{% block title %}API{% endblock %}

{% block body %}
<h1>API</h1>
<div class="profile-container">
    <ul>
        {% for route in api_routes %}
            <li>
                <a href="{{ path(route.name) }}" class="api-link">{{ route.path }}</a>
            </li>
        {% else %}
            <li>Inga API hittades.</li>
        {% endfor %}
    </ul>
</div>
{% endblock %}