{% extends "base.html.twig" %}

{% block title %}Report{% endblock %}

{% block body %}
<h1>Report</h1>
<div>
    <h2 id="kmom01">Kmom01</h2>
    <p>
        Mina förkunskaper om objectorientering är från kursen oopyhton där jag lärt mig det mesta men jag har även 
        kodat lite i C++ där jag använt mig objectorientering. Jag skulle dock säga att jag är väl ganska komortabel 
        med object men jag skulle ljuga om jag sa att jag kan det 100% det är ofta jag behöver stanna upp och tänka till lite. 
        PHP är ett objektorienterat språk som låter dig skapa klasser och objekt. 
        Du definierar egenskaper och metoder i klassen. Med __construct() kan 
        du sätta startvärden. Nyckelord som public och private styr åtkomst. $this används för att referera till objektets egna data.
        Koden som skrivs i uppgiften me/report skulle jag säga är ganska simpel objectorientering, jag begriper mig på allt i koden 
        och hur allt hänger ihop. Jag skulle säga att detta kmom var mer för att starta upp med symfony än att skriva kod.
        I “PHP The Right Way” skulle jag vilja djupdyka lite mer i Databases och Security det är två områden som tilltalar mig enormt.
        Mitt TIL för detta kmom är mest hur man startar igång med ett ramverk "påriktigt" jag har tyckt tidigare när vi jobbat med ramverk 
        att vi bara har fått en instruktion och följa och då har jag verefall inte tänkt så mycket på vad man gör. Medans nu kändes det som att 
        man satte upp det mesta själv och jag förstår verkligen hur jag kan använda detta till när jag i sommar ska göra lite pyssel. :)
    </p>
    <h2 id="kmom02">Kmom02</h2>
    <p>
        Arv innebär att en klass ärver egenskaper och metoder från en annan klass, komposition betyder att en klass innehåller en instans av en annan klass “har en”, 
        ett interface definierar en uppsättning metoder som en klass måste implementera, traits är som återanvändbara kodmoduler de låter dig återanvända metoder 
        i flera klasser utan arv. Jag började med att skapa upp strukturen för själva uppgiften och kollade igenom alla krav så jag visste ungefär vad som skulle 
        göras, sedan valde jag att skapa upp klasserna då jag vet ungefär vilda metoder som krävs (självklart behövdes det ju läggas till några, men ocksp några som 
        inte används). Jag skulle säga att jag är nöjd med kursmomentet då jag hade lite mindre tid denna vecka men tycker jag fick till allt bra kanske lite style som 
        skulle behövas lösas lite bättre (pluss att komma ihog att göra fler taggar), i min kod skulle jag kunna se lite förbättrningar genom att göra den mer dry 
        men också att skriva lite snabbare kod. Men jag skulle säga att jag är nöjd ändå. jag tycker att jag kommit igång bra med symfony och skulle säga att jag 
        förstår det ganska så bra, jag skulle väl säga att det inte är super svårt, jag har ibland fastnat lite men det har rett ut sig väldigt fort ändå. TIL för 
        detta kmom är att som jag nämde förra veckan så var jag inte 100% säker på allt med arv och kompossetion, men jag skulle säga att det har suttit sig mycket bättre. :)
    </p>
    <h2 id="kmom03">Kmom03</h2>
    <p>
       Jag failade totalt med att göra flödesdiagram och psuedokod jag gjorde ett försök till att tolka vad det var innan jag ens sökt upp eller kollat föreläsning, 
       klantigt av mig. Men jag har väldigt bra bild minne och kan tänka i bilder om det makes sens, så jag gör typ alltid upp flödesdiagram / tankekarta i huvet innan 
       men självklart hjälper det att skriva ner det. Jag gjorde ett blackjack spel (väldigt simpelt) jag älskar blackjack har redan gjort ett för många år sedan i 
       gymnastet i pygame så jag har lite fördel där, men jag tänkte inte på att det tar lite längre tid och att tiden barsa sprang iväg. Men jag är nöjd med mitt simpla 
       blackjack, jag la mest krut på att fixa split funktion så testa gärna den (tog väldigt lång tid, men när jag bestämt mig för att fixa den ska jag göra det). Jag ser 
       väldigt mycket förbättringspotential i design men också typ att man kan vara fler spelare, att man kan satsa olika mycket i potten just nu är det bra 10 hela tiden. 
       Jag vet inte vad som var bäst, för när jag skapade split funktionaliteten så skapade jag nya fuktioner och template filen pga så jag tolkade soc så det inte blir massa 
       if satser i twigfiler osv, återkom gärna hur du tycker det ser ut med de delarna och om du hade gjort det annorlunda och varför. :)
       Min känsla så här långt in i kursen är att det är helt gryyyymt, tycker båda kurserna som går nu är super roliga så det blir lite att ena veckan nördar jag in mig i 
       ena kursen och tvärt om nästa (det är dock omedvetet, sitter och gråttar mig in i små detaljer sen kommer jag på shit juste jag har en till kurs...). Att koda i symfony 
       känns bra så här långt skulle jag säga, ibland är det saker man inte förstår men tycker att det är lätt att söka sig till en lösning. Min TIL för detta kmom är väl alla 
       lintar men annars att jag blir mer och mer säker på objectorientering och ramverk symfony. :)
    </p>
</div>
{% endblock %}